<div id="photo-container">
 <h1>Micro Hotels</h1>
 <div id="form-container">
  <%= form_for(:sessions, {url: "/auth/password/callback", :html => {:id => 'sign-in'}}) do |f| %>
    <span class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </span>
    <span class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </span>
    <span class="actions">
      <button type="submit">sign in</button>
    </span>
  <% end %>
 </div>
</div>
