<div id="photo-container">
 <h1>Micro Hotels</h1>
 <div id="form-container">
   <%= form_for(@identity, {:url => registration_index_path,:html => {:id => 'sign-in'}}) do |f| %>
    <span class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </span>
    <span class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </span>
    <span class="actions">
      <button type="submit">sign up</button>
    </span>
  <% end %>
  return to <%= link_to "sign in", new_session_path %>
</div>

</div>
