<%= form_tag property_directions_path(@property), data: { ajax: true }, class: 'form-horizontal' do |f| %>
  <fieldset>
    <% Direction::TYPES.each do | title | %>
      <% key = title.parameterize.underscore.to_sym %>
      <div class="control-group">
        <%= label_tag key, title, class: 'control-label' %>
        <div class="controls">
          <%= text_area_tag key, @directions[key], rows: 8, class: 'input-xxlarge' %>
        </div>
      </div>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= submit_tag 'Save changes', class: 'btn btn-primary' %>
    <%= link_to 'Back', property_directions_path(@property), data: { ajax: true}, class: 'btn' %>
  </div>
<% end %>

