<%= form_for [@property, @article], html: { data: { ajax: true }, class: 'form-horizontal' } do |f| %>
  <fieldset>
    <% fh = love_form_helper(f, class: 'input-xxlarge') %>

    <%= fh.control_group(:group, :select, :select => {options: @article.group_list}) %>
    
    <%= fh.control_group(:title) %>

    <%= fh.control_group(:description, :text_area) %>
    
  </fieldset>
  <div class="form-actions">
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <%= link_to 'Back', property_articles_path(@property), data: { ajax: true}, class: 'btn' %>
  </div>
<% end %>

