<%= form_for @property, html: { data: { ajax: true }, class: 'form-horizontal' } do |f| %>
  <fieldset>
    <% fh = love_form_helper(f) %>

    <%= fh.control_group(:title) %>
    <%= fh.control_group(:description) %>

  </fieldset>
  <fieldset>
    <legend>Addresss</legend>
    <%= f.fields_for @property.address do |address_form| %>

      <% fhaddress = love_form_helper(address_form) %>
      <% address = @property.address %>
       
      <%= fhaddress.control_group(:address) %>

      <%= fhaddress.control_group(:address2) %>

      <%= fhaddress.control_group(:state) %>

      <%= fhaddress.control_group(:city) %>

      <%= fhaddress.control_group(:country) %>

      <%= fhaddress.control_group(:post_code) %>

    <% end %>
  </fieldset>
  
  <div class="form-actions">
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <%= link_to 'Back', @property.new_record? ? properties_path : property_path(@property), data: { ajax: true}, class: 'btn' %>
  </div>
<% end %>

