<%= form_for [@property, @calendar], html: { data: { ajax: true }, class: 'form-horizontal' } do |f| %>
  <% fh = love_form_helper(f) %>
  <fieldset>
    <%= fh.control_group(:provider) %>
    <%= fh.control_group(:path) %>
  </fieldset>
  <div class="form-actions">
    <%= f.submit 'Save changes', class: 'btn btn-primary' %>
    <%= link_to 'Back', @calendar.new_record? ? properties_path : property_calendars_path(params[:property_id]), data: { ajax: true}, class: 'btn' %>
  </div>
<% end %>

