<%= form_tag password_path, :method => :put, class: 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'identity[password]', "Password", class: 'control-label'  %>
    <div class="controls">
      <%= password_field_tag 'identity[password]', nil, class: 'input-large', placeholder: "Password" %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'identity[confirm]', "Confirm", class: 'control-label'  %>
    <div class="controls">
      <%= password_field_tag 'identity[confirm]', nil, class: 'input-large', placeholder: "Confirm" %>
    </div>
  </div>
  <% if params[:tid] %>
    <%= hidden_field_tag :tid, params[:tid] %>
  <% end %>
  <div class="form-actions">
    <%= submit_tag 'Change my password', class: 'btn btn-primary' %>
  </div>
<% end %>
