<h1>Update your password</h1>
<%= form_tag password_path, :method => :put  do %>

  <div>
    <%= label_tag :password %>
    <%= text_field_tag 'identity[password]' %>
  </div>
  <div>
    <%= label_tag :confirm %> 
    <%= text_field_tag 'identity[confirm]' %>
  </div>
  <div>
   <%= submit_tag 'change my password' %>
  </div>
<% end %>
