<%= form_for @site, html: { data: { ajax: true }, class: 'form-horizontal' } do |f| %>
  <fieldset>
     
    <% fh = HtmlHelper::FormHelper.new(self, f) %>

    <%= fh.control_group(:title) %>

    <%= fh.control_group(:subdomain, :help_text => 'Choose your micro-hotel name!', :add_on => configatron.domain, :input => {class: 'input-medium'}) %>

    <%= fh.control_group(:domain, :help_text => 'You can enter your personal domain name. [Need help how to point domain to our servers]') %>

    <%= fh.control_group(:email, :help_text => 'Contact email to use on your micro-hotel site.') %>

    <%= fh.control_group(:phone, :help_text => 'Contact phone to use on your micro-hotel site.') %>

    <%= fh.control_group(:style, :input => {value: 'style_01'}) %>

    <div class="form-actions">
      <%= f.submit 'Save changes', class: 'btn btn-primary' %>
      <%= link_to 'Back', @site.new_record? ? sites_path : site_path(@site), data: { ajax: true}, class: 'btn' %>
    </div>
  
  </fieldset>
<% end %>

<div id="help" style="display: none;">
  <div id="help_site_title">
    <div class="what">
      Site title is lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>
    <div class="why">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>
    <div class="example">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>

     <div id="help_site_subdomain">
    <div class="what">
      Site title is lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>
    <div class="why">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>
    <div class="example">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium dolor nunc, non consequat elit. Sed accumsan vulputate massa sit amet sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer volutpat sagittis risus sed malesuada. Nulla faucibus sapien eu lacus blandit ac imperdiet justo viverra. Pellentesque pulvinar porttitor nulla fermentum commodo. Nulla convallis lacinia massa in porta. Cras pharetra convallis elit sit amet euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ut consectetur est. Etiam feugiat risus vel massa porttitor feugiat. Aenean id dolor ante.
    </div>

  </div>
</div>

