<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-edit"></i><span class="break"></span>Create new Rentify Website</h2>
    </div>
    <div class="box-content">
      <%= form_for @site, remote: true, html: { class: 'form-horizontal' } do |f| %>
        <fieldset>
          <div class="control-group">
            <%= f.label :title, 'Title', class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :title, class: 'input-xlarge' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :subdomain, 'Site name', class: 'control-label' %>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :subdomain, class: 'input-medium' %>
                <span class="add-on">.<%= configatron.domain %> </span>
              </div>
              <p class="help-block">Choose your micro-hotel name!</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :domain, 'Domain name', class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :domain, class: 'input-xlarge' %>
              <p class="help-block">You can enter your personal domain name. [Need help how to point domain to our servers]</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, 'Contact email', class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :email, class: 'input-xlarge' %>
              <p class="help-block">Contact email to use on your micro-hotel site.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :phone, 'Phone number', class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :phone, class: 'input-xlarge' %>
              <p class="help-block">Contact phone to use on your micro-hotel site.</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :style, 'Micro-Hotel site style', class: 'control-label' %>
            <div class="controls">
              <span class="input-xlarge uneditable-input">style_01</span>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit 'Save changes', class: 'btn btn-primary' %>
            <%= button_tag 'Reset', type: 'reset', class: 'btn' %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div><!--/span-->
</div><!--/row-->

<script>
  Rentify.content.addListenersForRemoteForms();
</script>
