<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">LoveBNB</a>
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <ul class="nav pull-right">
        <% if current_user %>
          <li><%= link_to "Logout", destroy_session_path  %></li>
        <% else %>
          <li><%= link_to "Login", new_session_path  %></li>
        <% end %>
      </ul>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to "Features", "#"  %></li>
          <li><%= link_to "Examples", "#"  %></li>
          <li><%= link_to "Pricing", "#"  %></li>
          <li><%= link_to "Blog", "http://blog.xaza.co.uk"  %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
