<!DOCTYPE html>
<html lang="en" ng-app='lovebnb'>
<head>
  <!-- start: Meta -->
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "LoveBNB Admin" %></title>
  <%= csrf_meta_tags %>
  <!-- end: Meta -->

  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->

  <!-- start: CSS -->
  <%= stylesheet_link_tag "app", :media => "all" %>

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

  <!-- start: JavaScript -->
  <%= javascript_include_tag "app" %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=<%= configatron.google.api_key %>" type="text/javascript"></script>
  <!-- end: JavaScript -->
</head>
<body ng-controller='ApplicationController' ng-class='body_class'>
  <%= render partial: 'layouts/flash', locals: { flash: flash } %>
  <%= render 'layouts/noscript' %>
  <%= yield %>
</body>
</html>

