<!DOCTYPE html>
<html lang="en">
<head>
  <!-- start: Meta -->
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "RentifyAdmin" %></title>
  <%= csrf_meta_tags %>
  <!-- end: Meta -->

  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->

  <!-- start: CSS -->
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!--[if lt IE 7 ]>
    <link id="ie-style" href="/assets/ie/style-ie.css" rel="stylesheet">
    <link id="ie-style" href="/assets/ie/font-awesome-ie7.css" rel="stylesheet">
  <![endif]-->
  <!--[if IE 8 ]>
    <link id="ie-style" href="/assets/ie/style-ie.css" rel="stylesheet">
  <![endif]-->
  <!--[if IE 9 ]>
  <![endif]-->

  <!-- end: CSS -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag '/assets/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag '/assets/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag '/assets/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag '/assets/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

  <!-- start: JavaScript -->
  <%= javascript_include_tag "application" %>
  <!-- end: JavaScript -->
</head>

<body>
  <%= render :partial => 'layouts/header' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render :partial => 'layouts/side_nav' %>
      <noscript>
        <div class="alert alert-block span10">
          <h4 class="alert-heading">Warning!</h4>
          <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
      </noscript>
      <div id="content" class="span10">
        <div id="dynamic-content">
          <%= yield %>
        </div>
      </div>
    </div><!--/fluid-row-->
    <%= render :partial => 'layouts/footer' %>
  </div><!--/.fluid-container-->

  <%= render partial: 'layouts/flash', locals: { flash: flash } %>

</body>
</html>

